/*Geral*/

body{
     background: rgb(255, 255, 255);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: #000000;
    text-decoration: none;
}
html {
    font-size: calc(15px + 0.390625vw);
}
p {
    line-height: 130%;
}
section h2 {
    text-align: center;
    
}
img {
    max-width: 100%;
}

/*Especifico*/


 header ul li {
    color: #ffffff;
    text-align: center;
    padding:10px 0 10px 0;    
} 
section.banner {
    text-align: center;
}


section.banner h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}
section.banner p button {
    background-color: #FF6464;
    border: none;
    color: white;
    display: inline-block;
    margin: 10px 0 50px;
    padding: 5px 18px;
}

section.posts {
    background-color: #edf7fa;
    padding: 10px;
    
}


section.posts ul li {
    background-color: #FFF;
    padding: 15px;
    margin: 12px 10px 12px 10px;
    border-radius: 10px;
}
section.posts ul li h3 {
    font-weight: bolder;
    font-size: 1.2rem;
    
}
section.posts ul li p {
    margin: 15px 0 15px 0;
}
section.jobs {
    padding: 20px 10px 20px 10px;
    
}

section.jobs ul li {
    margin: 10px 0;
}
section.jobs ul li h3 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 130%;
    margin: 15px 0 15px 0;
}

section.jobs ul li p {
    margin: 15px 0 ;
}
section.jobs ul li p.info {
    color: #8695A4;
}
section.jobs ul li p.info span {
    color: rgb(241, 241, 241);
    background-color: #142850;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 20px;
    margin: o 15px 0 15px;

}
section.jobs ul {
    border-bottom: 1px solid black;
}

footer {
    text-align: center;
    margin: 10px 15px;
    
}
footer a {
    text-align: center;
    font-size: 2.3rem;
    margin: 0 15px;
}