/*Geral*/

body{
     background: rgb(0, 0, 0);
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color:#ffffff;
    text-decoration: none;
}

/*Especifico*/

header ul li {
    color: #ffffff;
    text-align: center;
    padding:10px 0 10px 0;
    margin: ;   
}